<body>
<div class = "container">
    <div class= "row">
        <!--column 1-->
        <div class="col-lg-4 column">
        <table class="questions-table" align="left">
        
            <tbody>
            {{#each question}}
                {{#if this.questionType == "MC"}}
                    {{>input/mulchoice}}

                {{#if this.questionType == "Open" }}
                    {{>input/openAns}}
            {{/each}}
            
            </tbody>
                }
        </table>

        </div>
        <div class="col-lg-4 column">
            
        </div>
    </div>
</div>



</body>