<body>
<div class = "container">
    <div class= "row">
        <!--column 1-->
        <div class="col-lg-4 column">
        <table class="questions-table" align="left">
        
            <tbody>
            {{#each question}}
                {{if }}
                    {{>}}
                
            {{/each}}
            
            </tbody>
                }
        </table>

        </div>
        <div class="col-lg-4 column">
            
        </div>
    </div>
</div>



</body>