<form action="/reset" method="post">
  <input type='password' name="password" value='' placeholder="New password"/>
  <input type='password' name="confirm" value='' placeholder="Confirm password"/>
  <button type='submit'>Update   Password</button>

</form>
