<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Profile</a>
  <a href="#">Test Results</a>
  <a href="#">College Information</a>
  <a href="#">Contact</a>
</div>

<span style="font-size:30px;cursor:pointer;color:rgb(122,144,141)" onclick="openNav()">&#9776; YourProfile</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<div class="row">
    <div class="col-lg-3 column"></div>
    <div class="col-lg-8 column" id="profileInfo">
        <h1><b>Welcome, {{user.firstName}}</b></h1>

        <section class= "userInformation">
        <h3><b> Your information:<b></h3>
        <p>First name: {{user.firstName}}</p>
        <p>Last name: {{user.lastName}}</p>
        <p>Email: {{user.email}}</p>
        </section>
              
    </div>
    </div>
        <div class="col-lg-1 column"></div>

</div>


