<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Profile</a>
  <a href="#">Test Results</a>
  <a href="#">College Information</a>
  <a href="#">Contact</a>
</div>
<div class="row">
      <div class="col-lg-2" id="navModalText">
        
          <span style="font-size:30px;cursor:pointer;color:rgb(122,144,141)" onclick="openNav()" >&#9776; Profile</span>

          <script>
          function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
          }

          function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
          }
          </script>
      </div>
      <div class="col-lg-9 column" id="profileInfo">
          <h1 class="text-center"><b>Welcome, {{user.firstName}}</b></h1>
            <center><img src="assets/images/profileplaceholder.jpg"></center>
          <div class="text-center" id="userInformation">
          <h3><b> Your information:<b></h3>
          <p>First name: {{user.firstName}}</p>
          <p>Last name: {{user.lastName}}</p>
          <p>Email: {{user.email}}</p>
          </div>
          <br>
          <center><table class="text-center" id="profileTable"> 
            <tr class="text-center">
              <caption class= "text-center">Previous Tests</caption>
              <th class="userTableHeader">Practice Test</th>
              <th class="userTableHeader">Date</th>
              <th class="userTableHeader">Link</th>
            </tr> 

            {{#each tests}}
              {{>profile/testlist}}
            {{/each}}
          </table></center>

      </div>


      <div class="col-lg-1"></div>
</div>
        


