
<div class="row">
      
      <div class="col-lg-8-offset-2 column animated fadeIn" id="profileInfo">
          <h1 class="text-center"><b>Welcome, {{user.firstName}}</b></h1>
            <center><img id="profilePhoto" src="assets/images/profileplaceholder.jpg"></center>
          <div class="text-center" id="userInformation">
          <h3><b> Your information:<b></h3>
          <p>First name: {{user.firstName}}</p>
          <p>Last name: {{user.lastName}}</p>
          <p>Email: {{user.email}}</p>
          </div>
          <br>
          <center><table class="text-center" id="profileTable"> 
            <tr class="text-center">
              <caption class= "text-center">Previous Tests</caption>
              <th class="userTableHeader">Practice Test</th>
              <th class="userTableHeader">Date</th>
              <th class="userTableHeader">Link</th>
            </tr> 

            {{#each tests}}
              {{>profile/testlist}}
            {{/each}}
          </table></center>

      </div>
      <br>

</div>
        


