body{
  background-image: url("images/background.png");
}



.scoreDiv{
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color:  #337ab7;
  border-size: 1px;
}

.scoreDivTop{
  font-size: 40px;
  border-bottom-style: solid;

}

.scoreDivBot{
  font-family: 'Poiret One', cursive;
  color:  #337ab7;
}


.mainScore{
  font-size: 100px;
}

.testScore{
  border-bottom-style: solid;
}

.progress{
  background-color:  #b6cee2;
}


.scaledScores{
  font-family: 'Poiret One', cursive;
}

.reportHeader{
  color: #337ab7;
  font-size: 80px;
  font-family: 'Poiret One', cursive;
}

#reportUser{
  font-family: 'Poiret One', cursive;
  color:  #337ab7;
  font-size: 14px;
}

