.scoreDiv{
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #78908C;
  border-size: 1px;
}

.scoreDivTop{
  font-size: 40px;
  border-bottom-style: solid;

}

#reportHeader{
  color: #78908C;
  font-size: 50px;
}

.mainScore{
  font-size: 100px;
}

