.scoreDiv{
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color:  #ccccb3;
  border-size: 1px;
}

.scoreDivTop{
  font-size: 40px;
  border-bottom-style: solid;

}

#reportHeader{
  color: #78908C;.
  font-size: 50px;
}

.mainScore{
  font-size: 100px;
}

.testScore{
  border-bottom-style: solid;
}

.progress{
  background-color:  #b6cee2;
}

p{
  font-family: 'Lato', sans-serif;
  color: #337ab7;
}

i{
  font-size: 35px;
  color: navy;
}
