body {
    background-image: url("images/background.png");
    font-family: 'Poiret One', cursive;
}

.userTableHeader {
    height: 50px;
    border: solid #a5acb7 1px;
    text-align: center;
    background-color: #3b7fb9;
    font-weight: bold;
    opacity: .8;
    color: white;
}

.userTableHeader h3 {
  font-weight: bold;
}

.userTable {
    height: 30px;
    border: solid #a5acb7 1px;
    text-align: center;
}

#profileTable {
    width: 80%;
    border: solid #a5acb7 1px;
    margin-bottom: 30px;
    font-weight: bold;
    border-radius: 25px;
}

#profileTable a {
    text-decoration: underline;
    color: #3b7fb9;
    font-weight: bold;
}

#profileTable h2 {
    color: #3b7fb9;
    font-weight: bold;
}

#profileInfo {
    color: #337AB7;
    font-weight: bold;
    font-size: 18px;
    /*padding-left: 10px;*/
}

#profilePhoto {
    height: 250px;
    width: 250px opacity: .8;
    border: solid 3px;
}
