body {
    font-family: "Lato", sans-serif;
    background-image: url("images/background.png");
    
    color:white;
}

#pageName{
    color:white;
}

.navbar{
    background-color:#337ab7;
    border:none;
    
}

.navbar-default .navbar-nav>li>a
{
    color:white;
}


#profileInfo{
	color:white;
    border-left: 1px solid;
    padding-left: 10px;
}

.userInformation{
    outline: 3px solid; color:rgb(122,144,141);
    text-align: left;
}

#navModalText{
    margin:left 20px;
}


#profileTable
{
    width:80%;
    border: solid 1px;
    color:white;
}

.userTableHeader{
    height:50px;
    border: solid 1px;
    text-align: center;
}

.userTable{
    height: 30px;
    border: solid 1px;
    text-align: center;
}

#profilePicture{
    width:250px;
    height:250px;
    border: solid 3px;
    padding: 2px;
}