body {
    
    background-image: url("images/background.png");
    font-family: 'Poiret One', cursive;
}

.userTableHeader{
    height:50px;
    border: solid 1px;
    text-align: center;
}

.userTable{
    height: 30px;
    border: solid 1px;
    text-align: center;
}

#profileTable
{
    width:80%;
    border: solid 1px;
}

#profileInfo{
    color: #337AB7;
    border-left: 1px solid;
    padding-left: 10px;
}

#profilePhoto{
    height:250px;
    width:250px
    opacity: .8;
    border: solid 3px;
}