<tr>
    <td class="question-number"></td>
    <td class="question-choices" id="s1q1">
        <button class="ansbutton" id="s1q1a">A</button>
        <button class="ansbutton" id="s1q1b">B</button>
        <button class="ansbutton" id="s1q1c">C</button>
        <button class="ansbutton" id="s1q1d">D</button>
    </td>
</tr>